<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>surangak</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.HL7QueryActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Module Global properties -->
	<globalProperty>
		<property>@MODULE_ID@.template</property>
		<defaultValue></defaultValue>
		<description>The default ORUR01 template to use to create the hl7 messages</description>
	</globalProperty>
    <globalProperty>
        <property>@MODULE_ID@.messageSource</property>
        <defaultValue>OPENMRS</defaultValue>
        <description>This is the value sent in MSH-4.</description>
    </globalProperty>
    <globalProperty>
    	<property>@MODULE_ID@.messageFacility</property>
    	<defaultValue></defaultValue>
    	<description>This is the value sent in MSH-6.</description>
    </globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageType</property>
		<defaultValue>ORU_R01</defaultValue>
		<description>This is the value sent in MSH-9.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageProcessingId</property>
		<defaultValue>D</defaultValue>
		<description>This is the value sent in MSH-11.1.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageProcessingMode</property>
		<defaultValue>C</defaultValue>
		<description>This is the value sent in MSH-11.2.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageVersion</property>
		<defaultValue>2.5</defaultValue>
		<description>This is the value sent in MSH-12.1.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageInternationalizationCode</property>
		<defaultValue>RWA</defaultValue>
		<description>This is the value sent in MSH-12.2.</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.messageProfile</property>
		<defaultValue>CLSM_V0.83</defaultValue>
		<description>This is the value sent in MSH-21.</description>
	</globalProperty>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
		HL7Template.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

